// hero
.hero {
  padding-top: 6.6rem;
  padding-bottom: 6.6rem;
  background-color: $color-silver;
  margin-bottom: 2.7rem;
  background-image: url("../images/Dot.svg");
  background-repeat: no-repeat;
  background-position: center bottom 15px;
  @include respond(md) {
    margin-bottom: 1.5rem;
  }
  &__container {
    @include flex($align: center, $justify: space-between, $gap: 2rem);
  }
  &__about {
    width: 100%;
    max-width: 450px;
  }
  &__title {
    font-size: 4.4rem;
    line-height: 1.2;
    color: $color-dark-gray;
    margin-bottom: 1.1rem;
  }
  &__description {
    color: $color-gray;
    margin-bottom: 2.2rem;
  }
  &__img {
    @include respond(md) {
      display: none;
    }
  }
}
// clients
.client {
  margin-bottom: 2.7rem;
  @include respond(md) {
    margin-bottom: 3rem;
  }
  &__container {
    text-align: center;
  }
  &__title {
    color: $color-dark-gray;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }
  &__description {
    color: $color-gray;
    margin-bottom: 1.1rem;
  }
  &__list {
    @include flex($justify: space-between, $wrap: wrap);
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
  &__item {
    @include respond(md) {
      padding: 3.5rem 3.5rem;
    }
  }
}
// system
.system {
  margin-bottom: 2.6rem;
  text-align: center;
  &__title {
    width: 100%;
    max-width: 377px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }
  &__list {
    margin-top: 1.2rem;
    @include flex($justify: space-between, $wrap: wrap);
    @include respond(md) {
      @include flex($justify: center, $wrap: wrap, $gap: 2rem);
    }
  }
  &__item {
    width: 100%;
    max-width: 250px;
    &-img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.1rem;
    }
    &-title {
      width: 100%;
      max-width: 150px;
      color: $color-dark-gray;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      @include m-center;
      margin-bottom: 0.5rem;
    }
    &-description {
      width: 100%;
      max-width: 200px;
      font-size: 0.97rem;
      line-height: 1.2;
      @include m-center;
    }
    .description-2 {
      width: 100%;
      max-width: 170px;
    }
  }
}
// user
.user {
  margin-bottom: 3.3rem;
  &__container {
    @include flex($justify: space-between, $align: center);
  }
  &__img {
    @include respond(md) {
      display: none;
    }
  }
  &__about {
    width: 100%;
    max-width: 700px;
  }
  &__title {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.1rem;
  }
  &__description {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2.2rem;
  }
}
