*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  object-fit: cover;
  display: flex;
}
ul,
ol {
  list-style: none;
}
.text-primary {
  color: $color-primary;
}
.title {
  color: $color-dark-gray;
  font-size: 2.5rem;
  line-height: 1.1;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $color-gray;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5;
}
main {
  flex-grow: 1;
}
h1 {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px; // Bu o'zgaruvchan.
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  @include respond(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
// margin, padding, border-radius, font-size, gap, -> rem;
// width, heightni -> max va pxda bering.
// line-height -> lh / font-size qilib bering.
